.company {
    border: none;
    background-color: transparent;
    border-left: 5px solid white;
    padding-left: 25px;
    display: block;
    font-size: 18px;
    font-family: "Nunito Sans";
    color: white;
}       