.company-mobile {
    border: none;
    background-color: transparent;
    padding-right: 25px;
    white-space: nowrap;
    display: block;
    font-size: 18px;
    font-family: "Nunito Sans";
    color: white;
    height: 58px;
    text-align: left;
    cursor: pointer;
}       