.section {
    display: flex;
    text-align: left;
    .left {
        width: 60%;
        .header {
            display: block;
            .title {
                font-size: 36px;
                display: flex;
                .text-animation {
                    margin-left: 10px;
                }
            }
            .name {
                font-family: "Montserrat";
                font-size: 96px;
                font-weight: 700;
                
            }
            
        }
        .about-me {
            font-size: 18px;
            margin: 26px 14px 26px 0px;
        }
    }
    .right {
        width: 40%;
    }
}

img {
    max-width: 100%;
    border-radius: 50px;
    // max-width: 481px;
}