.section-mobile {
    padding-top: 100px;
    text-align: left;
    .container {
        position: relative;
        
        width: 100%;
        img {
            opacity: 0.2;
            width: 100%;
        }
        .overlay {
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            font-size: 20px;
            width: 100%;
            padding-left: 30px;
            h1 {
                font-family: "Montserrat";
                font-size: 48px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .text-animation {
                display: inline;
                margin-left: 5px;
            }
        }
    }
        h2 {
            border-bottom: #FECB02 solid 2px;
            width: fit-content;
        }
    .contact-button > a > .contact{
        width: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: 10px;
        border: solid white 3px;
    }

}