.section {
    padding-top: 150px;
    display: flex;
    text-align: left;
    .left {
        width: 60%;
            .title {
                font-size: 36px;
                display: block;
                .text-animation {
                    margin-left: 10px;
                    display: inline;
                }
            }
            h1 {
                font-family: "Montserrat";
                font-size: 96px;
                font-weight: 700;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            
        .about-me {
            font-size: 18px;
            margin: 26px 14px 26px 0px;
        }
    }
    .right {
        width: 40%;
    }
}

img {
    max-width: 100%;
    border-radius: 50px;
    // max-width: 481px;
}