.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
    .left {
        width: 10%;
        img {
            max-width:100%;
        }
    }
    .right {
        display: flex;
        align-items: center;
        .nav-heading {
            margin-right: 50px;
        }
    }
}
